body {
  font-weight: bolder;
  width: 100%;
  overflow: hidden;
  color: black;
  background: url('./icons/background.png') no-repeat;
  background-size: cover;
}

header {
  text-align: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(223.69deg, rgba(246, 25, 224, 0.2) 42.35%, rgba(247, 25, 224, 0.2) 48.48%, rgba(50, 20, 232, 0.2) 60.46%, rgba(50, 20, 232, 0.2) 71.41%); /* the gradient */
  background-origin: border-box; /* set background to start from border-box */
  border-spacing: 5px; /* space between each cell */
  border: 5px solid transparent; /* optional */
}

td,
th {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: rgb(227, 233, 233);
}

#th1 {
  width: auto;
}

#th3 {
  text-align: right;
}

.addNew {
  display: none;
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}

#addNew h1,
form {
  text-align: center;
}

form input {
  width: 40%;
  font-weight: bolder;
}

#submit {
  width: auto;
  margin-left: 35%;
}

.active {
  color: blue;
}

.inActive {
  color: black;
}

.contact {
  display: none;
  width: 94%;
  margin-left: 2rem;
  margin-right: 4rem;
  margin-top: 1rem;
  text-align: center;
}

footer p {
  width: 92%;
  border: 5px solid black;
  padding: 0.5rem;
  position: fixed;
  bottom: 0;
  margin-left: 2%;
  font-weight: bold;
}

.list {
  display: block;
  width: 100%;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1rem;
  text-align: center;
}

.list h2 {
  font-size: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

.date {
  text-align: right;
  margin-right: 2.5%;
  font-weight: bold;
  color: rgb(45, 141, 238);
}

.nav-menu {
  list-style-type: none;
  margin: 0 27px;
  padding: 5px 24px 24px 24px;
}

.navbarBrand img {
  width: 95px;
}

.nav-menu li {
  float: right;
}

.one,
.two {
  border-right: 3px solid;
  border-image: linear-gradient(223.69deg, rgba(246, 25, 224, 0.2) 42.35%, rgba(247, 25, 224, 0.2) 48.48%, rgba(50, 20, 232, 0.2) 60.46%, rgba(50, 20, 232, 0.2) 71.41%) 1;
}

.nav-menu .logo {
  float: left;
}

.navItems a {
  display: block;
  text-decoration: none;
  margin: 0 12px;
}

.delete,
#submit {
  border: none;
  font-size: large;
  font-weight: bold;
  margin-right: 5%;
  background: linear-gradient(223.69deg, rgba(246, 25, 224, 0.2) 42.35%, rgba(247, 25, 224, 0.2) 48.48%, rgba(50, 20, 232, 0.2) 60.46%, rgba(50, 20, 232, 0.2) 71.41%);
}

#title,
#author {
  background-color: rgb(227, 233, 233);
  border: solid 5px;
  border-image: linear-gradient(223.69deg, rgba(246, 25, 224, 0.2) 42.35%, rgba(247, 25, 224, 0.2) 48.48%, rgba(50, 20, 232, 0.2) 60.46%, rgba(50, 20, 232, 0.2) 71.41%) 1;
}